// @media (min-width: 1200px) {
//     .container{
//         max-width: 970px;
//     }
// }
.article-box {
	margin-left: 300px;
	margin-right: 300px;
	padding-left: 100px;
	padding-right: 100px;
}

.carousel-fix {
	height: 400px;
	// crop: :fill;

}
