


.contact-form {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// .name-box {
// 	padding-left: 320px;
// 	padding-right:320px;
// }

// .move-name-left {
// 	margin-left: 320px;
// }
// .move-email-left {
//    margin-left: 510px;
// }

// .move-button-left {
// 	margin-left: 1112px;
// }
.contact-color {
	color: white;
}
.blue-background {
	background-image: image-url("contact/contact.png")
}
.remove-bottom {
	margin-bottom: 0;
}
.move-form {
	padding-left: 32px;
}
.icon-size {
	font-size: 24px;
}
