<ol>
	<% @schools.each do |school| %>
		<li>
			<% if I18n.locale == I18n.default_locale %>
				
				<h2><%= link_to school.title, school_path(school) %></h2>
				<p><%= school.address%></p>			

				<% else %>
 				
 				<h2><%= link_to school.title_cn, school_path(school) %></h2>
				<p><%= school.address_cn%></p>	
				
			<% end %>
		</li>
	<% end %>
</ol>
