// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.logo {
  background: none;
}

.nav-link {
  display: flex;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar .navbar-nav {
    float: none;
}
.navbar .navbar-collapse {
    margin-top: 20px;
}
.h5 {
  color: #ffffff;
}

.nav-item a {
  color: white;
}

a:hover,a:focus,  {
    text-decoration:none;
    color: #102260;
}

.navbar {
  width: 100vw;
  position: absolute;
  z-index: 5;
  transition: all 0.4s;
}



/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fefefe;
    }

    .nav-item a {
    color: #1D37A3;
}

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}


